version: '3.8'
services:

  mydb:
    image: mysql
    ports:
      - "5050:3306"
    environment:
      MYSQL_ROOT_PASSWORD: sunny
      MYSQL_DATABASE: sunny
      MYSQL_USER: sunny
      MYSQL_PASSWORD: sunny

  webserver:
    image: tomee
    ports:
      - "7070:8080"
    environment:
      - DB_HOST=mydb
      - DB_USER=sunny
      - DB_PASSWORD=sunny
    depends_on:
      - mydb

